In [1]:
import numpy as np
import pandas as pd

In [4]:
dft = pd.DataFrame({'A': np.random.rand(3), 
                    'B': 1, 
                    'C': 'foo', 
                    'D': pd.Timestamp('20010102'), 
                    'E': pd.Series([1.0]*3).astype('float32'),
                    'F': False,
                    'G': pd.Series([1]*3, dtype='int8')})
dft

          A  B    C          D    E      F  G
0  0.242436  1  foo 2001-01-02  1.0  False  1
1  0.313151  1  foo 2001-01-02  1.0  False  1
2  0.469719  1  foo 2001-01-02  1.0  False  1

In [6]:
dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

In [7]:
# string data forces an ''object'' dtype
pd.Series([1,2,3,6., 'foo'])

0      1
1      2
2      3
3      6
4    foo
dtype: object

In [13]:
df1 = pd.DataFrame(np.random.randn(8,1), columns=['A'], dtype='float32')
df1.dtypes
df1 = df1.astype('float64')
df1.dtypes

A    float64
dtype: object

In [17]:
dft1 = pd.DataFrame({'a':[1,0,1], 'b':[4,5,6], 'c':[7,8,9]})
dft1 = dft1.astype({'a': np.bool, 'c':np.float64})
dft1

       a  b    c
0   True  4  7.0
1  False  5  8.0
2   True  6  9.0

In [18]:
dft1.dtypes

a       bool
b      int64
c    float64
dtype: object

In [19]:
index

NameError: name 'index' is not defined